*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    padding-bottom:25em ;
}
header{
    text-align: center;
    padding: 2em;
}
header h1{
    font-size: 1.5rem;
    font-weight: 600;
    max-width:400px;
    margin: 0.8em auto;
}
header p{
    font-size: 0.85rem;
    color: #888;
    max-width: 480px;
    margin: 0 auto;
}
main{
    margin: 0 auto;
    padding: 0 2.5em;
}
.features{
    background-color:hsl(220, 14%, 96%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
@media(max-width:1024px){
    .features{
        grid-template-columns: 1fr 1fr;
    }
    .box.optimize{
        grid-column: 1 / span 2;
    }
    .box.integrate{
        grid-column: 1/span 2;
    }
}
@media(max-width:640px){
    .features{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .box.create{
        grid-column: 1 / span 2;
    }

    header h1{
    font-size: 1.5rem;
    font-weight: 600;
    max-width:500px;
    margin: 0.8em auto;
}
header p{
    font-size: 0.75rem;
    color: #888;
    max-width: 580px;
    margin: 0 auto;
}
}

.box.create,
.box.repurpose,
.box.optimize{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.box.automate,
.box.integrate{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height:220px;
}
.box.automate{
    grid-column: 1 / span 2;
}
.box.automate .info-section,
.box.integrate .info-section{
    width: 60%;
    height: 100%;
    overflow: hidden;
}
.box.automate .image-sec,
.box.integrate .image-sec{
    width: 40%;
    height: 100%;
}
.box.automate img,
.box.integrate img{
    width: 100%;
    object-fit: cover;

}
.box .info-section{
    padding: 1.5em 1.5em 0;
}
.box .image-sec{
    flex: 1;
}
.box .image-sec img{
    width: 100%;
    object-fit: cover;
}
.title{
    font-size: 1rem;
    font-weight: 600;
}
.desc{
    font-size: 0.85rem;
    color: #666;
    padding: 1em 0;
}