*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    padding-bottom:25em ;
}
header{
    text-align: center;
    padding: 2em;
}
header h1{
    font-size: 1.5rem;
    font-weight: 600;
    max-width:400px;
    margin: 0.8em auto;
}
header p{
    font-size: 0.85rem;
    color: #888;
    max-width: 480px;
    margin: 0 auto;
}
main{
    margin: 0 auto;
    padding: 0 2.5em;
    background-color:hsl(220, 14%, 96%);
    border-radius: 20px;
    max-width: 1280px;
    display: grid;
    grid-template-rows: 1fr ;
}
.features-row1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.box{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 300px;
    border-radius: 20px;
}
.features-row1 .info-section{
    padding: 1.5em 1.5em 0;
    height: 40%;
}
.features-row1 .image-sec{
    height: 60%;

}
.features-row1.image-sec img{
    width: 100%;
    object-fit: cover;
}
.title{
    font-size: 1rem;
    font-weight: 600;
}
.desc{
    font-size: 0.85rem;
    color: #666;
    padding: 1em 0;
}
.features-row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.features-row2 .automate{
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.features-row2 .info-section{
    width: 45%;
    padding: 1.5em;
}
.features-row2 .image-sec{
    width: 55%;
}
.features-row2.image-sec{
    width: 100%;
    object-fit: cover;
}